body {
    padding: 0;
    margin: 0;
}

#header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: fixed;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    height: auto;
    display: inline;
}

#nav_links {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

#nav_links li {
    list-style: none;
    text-decoration: none;
    position: relative;
}

#nav_links li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#nav_links li ::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #f4f4;
    display: block;
    margin: auto;
    transition: 3s;
}

#nav_links li :hover::after {
    width: 100%;
}

